.Home {
    width: inherit;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var( --primary-color );
    padding: 80px 28.5px 16px 28.5px;

    .product-list {
        width: inherit;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 325px;
    }

    .featured-list {
        width: inherit;
    }
}


@media only screen and ( max-width: 1024px ) {
    .Home {
        padding: 80px 40.5px 16px 40.5px;
    }
}


@media only screen and ( max-width: 1023px ) {
    .Home {

        .featured-list {
            overflow-y: scroll;
        }
    }
}


@media only screen and ( max-width: 768px ) and ( orientation: portrait ) {
    .Home {
        padding: 80px 32.75px 16px 32.75px;

        .product-list {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}


@media only screen and ( max-width: 375px ) and ( orientation: portrait ) {
    .Home {
        padding: 56px 18.5px 16px 18.5px;

        .featured-list {
            justify-content: flex-start;
        }
    }
}