.Home {
    height: 100%;
    width: 100%;
    align-items: flex-start;
    background-color: var( --primary-color );
    padding-top: 80px;
}

@media only screen and ( max-width: 375px ) and ( orientation: portrait ) {

    .Home {
        padding-top: 56px;
    }
}