.FilterItem {
    min-width: 131px;
    height: 32px;
    margin-left: 8px;
    font-size: 16px;
    border: solid 1px var( --quaternary-color );
    border-radius: 48px;

    p {
        margin: 0 16px;
    }

    img {
        height: 16px;
        width: 16px;
        margin-right: 16px;
    }
}