.Filter {
    width: 100%;
    height: 96px;
    border-bottom: 1px solid var( --quaternary-color );
    margin-top: 25px;
}


@media only screen and ( max-width: 1024px ) {
    
    .Filter {
        height: 96px;
        margin-top: 25px;
    }
}


@media only screen and ( max-width: 768px ) and ( orientation: portrait ) {
    
    .Filter {
        height: 88px;
        margin-top: 33px;
    }
}


@media only screen and ( max-width: 375px ) and ( orientation: portrait ) {
    
    .Filter {
        height: 36px;
        margin-top: 12px;
    }
}