// Global Styles

:root {
	--primary-color: #E0E0E0;
	--secondary-color: #FFA500;
	--tertiary-color: #FFFFFF;
	--quaternary-color: #000000;
	--quinary-color: #9C9D9D;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none !important;
	font-family: 'Calibri';
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html, body, #root {
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ellipsis { 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

.overflow-y {
	overflow: hidden;
	overflow-y: scroll;
}

.clearfix-clicker {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	cursor: pointer;
}