.SelectedFilters {
    width: calc( 100% - 185px );
    overflow: hidden;
    justify-content: flex-start;

    .selected-filters-text {
        font-size: 16px;
        min-width: 100px;
    }
}

@media only screen and ( max-width: 768px ) and ( orientation: portrait ) {
    .SelectedFilters {
        .selected-filters-text {
            font-size: 14px;
        }
    }   
}
